/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  margin: 0;
  font-family: Arial;
}

.tabs {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 30%;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: solid;
  border-width: 1px;
  border-color: black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.clickable{
  width: 16.6666666667%;
}

.tabs button:last-of-type{
  border-radius: 0px 25px 0px 0px;
}

.tabs button:first-child{
  border-radius: 25px 0px 0px 0px;
}

.decorative{
  width: 8.33333333333%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
  border: #555;
  border-radius:25px;
  box-shadow: 20px 20px black;
  color: black;
  display: none;
  background-color: #777;

}