/*Colour paltte: https://coolors.co/2e283e-404563-6f85ae-e2e58a-d7efbe*/

/*Universal styling*/
body, html {
  margin: 0;
  font-family: 'Source Serif 4', serif;
  background-color: #6F85AE;
}

.title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: xx-large;
}

.icons{
  fill: #2E283E;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/*Window styling*/
.window {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40%;
}

.top-of-window{
  position: absolute;
  z-index: 2;
  width: 100%;
}

.tabcontent {
  display: none;
  padding: 100px 0px;
  height: 100%;
  width: 99.5%;
  border: #2E283E;
  border-width: 3px;
  border-style: solid;
  border-radius:25px;
  box-shadow: 20px 20px #404563;
  color: #2E283E;
  background-color: #F3F4CD;
  position: relative;
  overflow-y: scroll;
}

.container{
  padding: 20px;
}

/*Tab styling*/
.tablink {
  background-color: #E2E58A;
  color: #2E283E;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  float: left;
  border: solid;
  border-width: 2px;
  border-color: #2E283E;
  outline: none;
  padding: 14px 16px;
  margin: 0px;
}

.clickable{
  width: 16.6666666667%;
  cursor: pointer;
}

.tab-labels button:last-child{
  border-radius: 0px 25px 0px 0px;
}

.tab-labels button:first-child{
  border-radius: 25px 0px 0px 0px;
}

.decorative{
  width: 8.33333333333%;
}

.tablink.clickable:hover {
  background-color: #F3F4CD;
}

/*Search bar styling*/
.search-bar{
  background-color: #F3F4CD;
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 0;
  margin-top: 50px;
}

.search-bar button, input{
  background-color: #F3F4CD;
  color: #2E283E;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  float: left;
  border: solid;
  border-width: 2px;
  border-color: #2E283E;
  outline: none;
  padding: 7px 16px;
  width: 8.33333333333%;
  border-radius: 0px;
  height: 100%;
  margin: 0px;
}

.search-bar button:first-child{
  border-left-width: 3px;
}

.search-bar button:last-child{
  border-right-width: 3px;
}

#search-input {
  width: 83.3333333335%;
}

/*Progress bar styling for Skills*/
.progress-label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: large;
}

.progress {
  position: relative;
  height: 24px;
  padding: 0px;
  width: 80%;
  border: 3px solid #404563;
  border-radius: 25px;
  margin: 15px 0px;
}

.progress-row{
  margin: 15px 0px;
  padding: 10px 0px;
}

.progress-descriptor span{
  background-color: rgb(238, 238, 238);
  padding: 5px;
  margin: 8px;
  margin-left: 0px;
  font-size: smaller;
  border: rgb(210, 215, 216) solid;
  border-radius: 25px;
}

.progress .inner-progress-bar {
  position: absolute;
  background-color: #E2E58A;
  transition: width 2s;
  height: 100%;
  width: 10%;
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 24px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 25px;
  position: relative;
  border: 3px solid #404563;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3F4CD;
  border-radius: 25px;
  overflow-y: hidden;
  border: 3px solid #404563;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E2E58A
}